body {
  background-color: #30141C;
  font-family: "helvetica-lt-pro", sans-serif;
}
a {
  color: #CEBE72;
  font-family: "helvetica-lt-pro", sans-serif;
}
p {
  color: #CE8772;
  font-family: "helvetica-lt-pro", sans-serif;
}
h1 {
  color: #CE8772;
  font-family: "helvetica-lt-pro", sans-serif;
}