@font-face {
    font-family: 'fomt';
    src: url('/fonts/helvetica-255/5.ttf') format('truetype');
}  
body {
  background-color: #30141C;
}
a {
  color: #CEBE72;
}
p {
  color: #CE8772;
}
h1 {
  color: #CE8772;
}